{% extends 'layouts/_layout' %}

{% block content %}

    <section class="px-6">
        <h1 class="font-display text-6xl pb-12">Contact</h1>
        <div class="w-1/2">
            <p class="font-hairline text-2xl pb-12">
                Email - <a href="mailto:{{ email.email }}">{{ email.email }}</a><br />
                Phone - <a href="tel:{{ entry.phone|replace({' ':''}) }}">{{ entry.phone }}</a><br />
                Instagram - <a href="https://instagram.com/{{ entry.instagram }}" target="_blank" rel="nofollow noreferrer">@{{ entry.instagram }}</a>
            </p>
        </div>
    </section>

{% endblock %}
