{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap">
        {% for category in craft.entries.section('categories').all() %}
            <div class="w-full md:w-1/2 p-6">
                <a href="/{{ category.slug }}">
                    {% for asset in category.categoryImage.all() %}
        			    <img src="{{ asset.url('categories') }}" alt="{{ entry.title }}" title="{{ entry.title }}" width="100%">
        			{% endfor %}
                    <h2 class="font-display text-2xl tracking-wide pt-4">{{ category.title }}</h2>
                </a>
            </div>
        {% endfor %}
    </section>

{% endblock %}
