{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap justify-center items-center">
        <nav class="text-center font-display text-3xl sm:text-6xl tracking-wide leading-none text-white">
            <a href="/home" class="hover:text-grey">Home</a> &mdash; <a href="/advertising" class="text-white hover:text-grey">Advertising</a><br />
            <a href="/editorial" class="hover:text-grey">Editorial</a><br />
            <a href="/spaces" class="hover:text-grey">Spaces</a> &mdash; <a href="/props" class="text-white hover:text-grey">Props</a><br />
            <a href="/contact" class="hover:text-grey">Contact</a>
        </nav>
    </section>

{% endblock %}
