<!DOCTYPE html>
<html lang="en-US">
<head>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover" />
    <meta name="referrer" content="origin-when-cross-origin" />

    {# Cachebust the CSS/JS #}
    {% set assetVersion = craft.app.config.env == "dev" ? date().getTimestamp() : 0.01 %}
    {# Until we're live, cachebust all assets #}
    {#{% set assetVersion = date().getTimestamp() %}#}

    {% do view.registerCssFile("/assets/css/main.css?v="~assetVersion) %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>

    {% do view.registerJsFile("/assets/js/main.min.js?v="~assetVersion) %}

    <link rel="stylesheet" href="https://use.typekit.net/bhf3gnu.css">

    {% hook 'seo' %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-R3SBQWG00E"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-R3SBQWG00E');
    </script>

</head>

    <body class="{{ entry.type == "landing" ? "flex bg-green h-screen items-center" : "bg-white" }}">

        <header class="flex flex-wrap {{ entry.type == "landing" ? "fixed top-0" : "" }} w-full px-6 py-4">
            <div class="w-3/4 md:w-1/2">
                <h1 class="font-display text-3xl md:text-4xl tracking-wide {{ entry.type == "landing" ? "text-white hover:text-grey" : "text-black" }}"><a href="/home">{{ siteName }}</a></h1>
            </div>
            {% if entry.type == "landing" %}
            {% else %}
                <div class="self-end w-1/4 md:w-1/2">
                    <nav class="font-display text-right tracking-wide leading-8">
                        <a href="/advertising" class="md:pl-6 md:pr-2">Advertising</a>
                        <a href="/editorial" class="md:pr-2">Editorial</a>
                        <a href="/spaces" class="md:pr-2">Spaces</a>
                        <a href="/props" class="md:pr-2">Props</a>
                        <a href="/contact">Contact</a>
                    </nav>
                </div>
            {% endif %}
        </header>

        <main class="w-full">
            {% block content %}
            {% endblock %}
        </main>

        {% if entry.type == "landing" %}
        {% else %}
        <footer class="px-6 py-12">
            <p class="font-display text-xs">
                &copy; {{ siteName }} {{ now|date('Y') }}
            </p>
        </footer>
        {% endif %}

    </body>
</html>
