{% extends 'layouts/_layout' %}

{% block content %}

    <section class="flex flex-wrap py-6">

        <div class="w-full text-center">
            <h1 class="font-display text-4xl py-12">{{ entry.title }}</h1>
        </div>
        <div class="grid flex flex-wrap w-full">
            {% for cat in entry.categoryDisplay.all() %}
                <div class="gridItem w-full md:w-1/2">
                    {% for image in cat.displayImage.image.all() %}
                        <img src="{{ image.url('display') }}" class="px-6" alt="{{ entry.title }}" title="{{ entry.title }}" width="100%">
                    {% endfor %}
                    {% if cat.displayImage.imageTitle|length %}
                        <p class="font-display tracking-wide text-sm px-6 pt-6 pb-12">
                            {{ cat.displayImage.imageTitle }}
                        </p>
                    {% else %}
                        <p class="font-display tracking-wide text-sm px-6 pt-26 pb-12">
                        </p>
                    {% endif %}
                </div>
            {% endfor %}
        </div>

    </section>

{% endblock %}
